 * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
        background-color: #f4fbff;
        padding: 24px;
        color: #1e2c3b;
        text-align: center;
      }

      h1 {
        font-size: 1.6rem;
        color: rgb(1, 1, 165);
        margin-bottom: 1rem;
      }

      .container {
        max-width: 900px;
        margin: 0 auto;
      }

      .loan-form,
      .result {
        background-color: #ffffff;
        border-radius: 10px;
        margin-bottom: 24px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
      }

      .result {
        box-shadow: 10px 10px rgb(83, 131, 165);
      }

      .form-row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;
      }

      .form-row label {
        width: 90px;
        font-weight: bold;
        color: #609ec2;
      }

      input[type="number"],
      select {
        padding: 8px 10px;
        border: 1px solid #b0d4ee;
        border-radius: 6px;
        font-size: 1rem;
        width: 180px;
      }

      #clacBtn {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 900;
        border: none;
        color: #f4fbff;
        background-color: #316092;
        cursor: pointer;
        transition: background-color 0.3s;
        /* 過渡動畫搭配hover */
      }

      #exportBtn {
        padding: 12px;
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 900;
        border: none;
        color: #df9d0e;
        background-color: #043510;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      #exportBtn:hover {
        background-color: #a50fc4;
      }

      #clacBtn:hover {
        background-color: #244a71;
      }

      input[type="radio"] {
        width: 16px;
        height: 16px;
        accent-color: rgb(82, 47, 209);
      }

      h1,
      h2 {
        font-size: 2rem;
        color: #316092;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      .summary-table,
      .detial-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 24px;
      }

      .detial-table th {
        background-color: #063e5f;
        color: #ffff;
        padding: 10px;
      }

      .detial-table td {
        padding: 8px 10px;
        border-bottom: 1px solid #e5f6ff;
      }

      .summary-table td:first-child {
        color: #0d5f2c;
        font-weight: bold;
      }

      .detial-table tr:nth-child(even) {
        background-color: #094f9e;
        color: #c9b610;
      }

      .summary-table th {
        background-color: #2708d6;
        color: #7fdae0;
      }

      .summary-table th,
      .summary-table td {
        border: 1px solid #eef2f5;
        padding: 10px 12px;
        text-align: left;
      }

      .subtitle {
        font: 0.5em sans-serif;
        color: #6a8ba2;
        font-weight: 400;
        letter-spacing: 1px;
      }

      #table-scroll {
        max-height: 600px;
        overflow-y: auto;
        border: 2px solid rgb(85, 52, 3);
      }
      #totalPayment,
      #totalInterest {
        font-size: 24px;
        text-align: right;
      }